if SHIELD_COSMOS-5x6_LEFT

config ZMK_KEYBOARD_NAME
    default "Cosmos 5x6 - L"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COSMOS-5x6_RIGHT

config ZMK_KEYBOARD_NAME
    default "Cosmos 5x6 - R"

endif

if SHIELD_COSMOS-5x6_LEFT || SHIELD_COSMOS-5x6_RIGHT

config ZMK_SPLIT
    default y

endif
