if cosmos-5x6_left

config ZMK_KEYBOARD_NAME
    default "Cosmos 5x6 - L"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if cosmos-5x6_right

config ZMK_KEYBOARD_NAME
    default "Cosmos 5x6 - R"

endif

if cosmos-5x6_left || cosmos-5x6_right

config ZMK_SPLIT
    default y

endif
